@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="@rootUrl">기산 파크골프</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- 관리자 메뉴 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">관리자 페이지</a>
                    @if (isAuthenticated)
                    {
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Sites/Admin/Player Management">선수 정보관리</a></li>
                            <li><a class="dropdown-item" href="/Sites/Admin/GameHandicap">Handicap 설정</a></li>
                            <li><a class="dropdown-item" href="/Sites/Admin/StadiumManager">경기장 설정</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/Sites/Admin/GameList">대회개최</a></li>
                            <li><a class="dropdown-item" href="/Sites/Admin/GameSetup">인원 코스 및 배치</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/TempHint">대회결과 입력</a></li>
                        </ul>
                    }
                </li>
                <!-- 선수 메뉴 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">선수 페이지</a>
                    @if (isAuthenticated)
                    {
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Sites/Player/JoinGame">대회참가 신청</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/Sites/Player/MyGame">내 대회</a></li>
                        </ul>
                    }
                </li>
                <!-- 게시판 메뉴 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">게시판</a>
                    @if (isAuthenticated)
                    {
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/BBS/Default.aspx?bbsId=notice">공지사항</a></li>
                        </ul>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool isAuthenticated;
    private string rootUrl = "/";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        rootUrl = isAuthenticated ? "/" : "/Login";
    }
}