/* 마우스 오버시 밑줄 및 색상 표시*/
/*클릭한적 없는*/
.HyperLink:link {
    color: blue;
    text-decoration: none;
}
/*한번이상 클릭*/
.HyperLink:visited {
    color: blue;
    text-decoration: none;
}
/*마우스 오버*/
.HyperLink:hover {
    color: blue;
    text-decoration: underline;
}
/*클릭순간*/
.HyperLink:active {
    color: blue;
    text-decoration: none;
}
/* 마우스 오버시 밑줄 및 색상 표시*/

/*메인 컨테이너라고 본다 (가운데 정렬)*/
.center_container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center; /*세로*/
    justify-content: center; /*가로*/
    text-align: center
}
